.container {
    display: flex;
    justify-content: center;
    background: #f8f3ec;
    padding-top: 90px;
    padding-bottom: 130px;
    padding-left: 100px;
    padding-right: 100px;
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 200px;
}

.left img {
    width: 35%;
    padding-bottom: 10px;
}

.left p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height, or 164% */

    text-align: right;
    letter-spacing: 0.1px;

    /* Primary */

    color: #17494D;
}

.Flex {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 200px;
}

.middle p {
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height */


    /* Primary */

    color: #17494D;
    padding-top: 7px;
}

.right {
    display: flex;
    justify-content: center;
}

.fb {
    background: #17494d;
    color: white;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.in {
    background: #17494d;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}