.container {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F9F9;
}

.heading {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
}

.head {

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    text-align: center;
    text-transform: capitalize;

    /* Primary */

    color: #17494D;

}

.head span {
    color: #BA8D46;
}

.subHeading {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Text Black */

    color: #222222;

}

.works {
    display: grid;
    grid-template-columns: auto auto auto;
    /* width: 100%; */
    justify-content: center;
    grid-gap: 40px;
    padding-top: 70px;
}

.worksItems {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 25px;

}

.mainImage {
    display: flex;
    justify-content: center;
    /* width: 70%; */
}

.mainImage img {
    width: 100%;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 15px;
}

.desc p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #17494D;
}

.desc img {
    width: 80px;
    height: 30px;
}

@media (max-width: 770px) {
    .container {
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #F8F9F9;
    }

    .heading {
        display: flex;
        flex-direction: column;
    }

    .head {

        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        /* line-height: 109%; */
        text-align: center;
        text-transform: capitalize;
        color: #17494D;

    }

    .head span {
        color: #BA8D46;
    }

    .subHeading {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #222222;

    }

    .works {
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
        justify-content: center;
        grid-gap: 25px;
        padding-top: 70px;
    }

    .worksItems {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin-right: -20px; */
        background: #ffffff;
        padding-bottom: 25px;
    }

    .mainImage {
        display: flex;
        justify-content: center;
        /* width: 70%; */
    }


    .desc {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        padding-top: 15px;
    }

    .desc p {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #17494D;
    }

    .desc img {
        width: 80px;
        height: 30px;
    }
}