.container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  /* width: 500px; */
  flex-direction: column;
}

.main {
  background: #f8f9f9;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  /* flex-direction: column; */
}

.main img {
  width: 120px;
  height: 35px;
}

.companyLogo {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.quote {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  /* Primary */

  color: #17494d;
}

.name {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  /* Primary */

  color: #17494d;
  padding-top: 20px;
}

.icon {
  padding-top: 50px;
}

.icon img {
  width: 90%;
}

.divider {
  content: '';
  height: 1px;
  background-color: black;
  margin-top: -60px;
}

.bottomGrid {
  background: #f8f9f9;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /* flex-direction: row; */
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: left;
}

.items {
  /* display: flex; */
  /* flex-direction: column; */
  padding-left: 80px;
  padding-right: 80px;
}

.items p {
  font-size: 17px;
  font-weight: 900;
  padding-top: 15px;
}

.review {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f8f9f9;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 20px;
}

.left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-right: 200px;
}

.left img {
  width: 285px;
}
.btn {
  font-family: Arial;
  color: #a19632;
  font-size: 15px;
  background: #f8f9f9;

  padding: 8px 15px 8px 15px;
  border: solid #dee065 1px;
  text-decoration: none;
  width: fit-content;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  background: #f0edf0;
  text-decoration: none;
}

.right {
  display: flex;
  justify-content: center;
}

.rightGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}
.gridItems {
  display: flex;
  margin-right: 40px;
}
.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.Flex span {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #6f6f6f;
  padding-bottom: 30px;
}

.Flex p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  /* Blue */

  color: #002e48;
}

.flexIcon {
  padding-right: 15px;
  display: flex;
  justify-content: center;
}
.mobileReview {
  display: none;
}
@media (max-width: 770px) {
  .container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin-left: 10px;
    margin-right: 10px;
    /* width: 500px; */
  }

  .main {
    background: #f8f9f9;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  .main img {
    width: 120px;
    height: 35px;
  }

  .content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .quote {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    text-align: center;

    /* Primary */

    color: #17494d;
  }

  .name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    /* Primary */

    color: #17494d;
  }

  .quote span {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    /* Primary */

    color: #17494d;
  }

  .icon {
    display: none;
  }

  .bottomGrid {
    background: #f8f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* flex-direction: row; */
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
  }

  .items {
    /* display: flex; */
    /* flex-direction: column; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }

  .items p {
    font-size: 17px;
    font-weight: 900;
    padding-top: 15px;
  }

  .review {
    display: none;
  }
  .mobileReview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobileReview img{
    padding-top: 10px;
    padding-bottom: 10px;
    /* width:80%; */
  }
  .reviewImg{
    width: 90%;
  }
  .button {
    display: flex;
    justify-content: center;
    /* padding-top: 10px; */
  }
}

@media (min-width: 2000px) {
  .container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    /* width: 500px; */
    flex-direction: column;
  }

  .main {
    background: #f8f9f9;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 24%;
    margin-right: 24%;
    padding: 50px;
    /* flex-direction: column; */
  }

  .main img {
    width: 120px;
    height: 35px;
  }

  .companyLogo {
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
  }

  .quote {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    /* Primary */

    color: #17494d;
  }

  .name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-transform: capitalize;

    /* Primary */

    color: #17494d;
    padding-top: 20px;
  }

  .icon {
    padding-top: 50px;
  }

  .icon img {
    width: 90%;
  }

  .divider {
    content: '';
    height: 1px;
    background-color: black;
    margin-top: -60px;
    margin-left: 24%;
    margin-right: 24%;
  }

  .bottomGrid {
    background: #f8f9f9;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 24%;
    margin-right: 24%;
    /* flex-direction: row; */
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: left;
  }

  .items {
    /* display: flex; */
    /* flex-direction: column; */
    padding-left: 80px;
    padding-right: 80px;
  }

  .items p {
    font-size: 17px;
    font-weight: 900;
    padding-top: 15px;
  }

  .review {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f8f9f9;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 24%;
    margin-right: 24%;
  }

  .left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-right: 200px;
  }

  .left img {
    width: 285px;
  }
  .btn {
    font-family: Arial;
    color: #a19632;
    font-size: 15px;
    background: #f8f9f9;

    padding: 8px 15px 8px 15px;
    border: solid #dee065 1px;
    text-decoration: none;
    width: fit-content;
    border-radius: 5px;
    margin-top: 20px;
  }

  .btn:hover {
    background: #f0edf0;
    text-decoration: none;
  }

  .right {
    display: flex;
    justify-content: center;
  }

  .rightGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
  }
  .gridItems {
    display: flex;
    margin-right: 40px;
  }
  .Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  .Flex span {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #6f6f6f;
    padding-bottom: 30px;
  }

  .Flex p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-transform: capitalize;

    /* Blue */

    color: #002e48;
  }

  .flexIcon {
    padding-right: 15px;
    display: flex;
    justify-content: center;
  }
  .mobileReview {
    display: none;
  }
}
